$primaryColor = #FBB236
$primaryColorFade = #EC726E

$accentColor = #01B6D1
$accentColorFade = #4729C7

$color1 = $accentColorFade
$colorImageFallback = #1196cf

$firstFooterColor = $primaryColor
$secondFooterColor = $primaryColorFade

.layout-main__nm--opened {
    background: linear-gradient(-45deg, $accentColorFade, $accentColor)
}

.ui-button.ui-button--primary, .switch-bw__ball {
    background: linear-gradient(-45deg, $primaryColorFade, $primaryColor) !important
}

.hamburguer__line {
    background: linear-gradient(-45deg, $primaryColorFade, $primaryColor) !important
}

svg.footer-box__shape {
    fill: linear-gradient(-45deg, $primaryColorFade, $primaryColor) !important
}

.footer-box3 {
    background-color: linear-gradient(-45deg, $primaryColorFade, $primaryColor) !important
}

.nav-mobile__list {
    justify-content: center
}
